<h2>Add new product:</h2>

<form role="form" id="comment-form" ng-submit="addProduct()">
  <div class="form-group">
    <label for="name">Product name:</label>
    <input type="text" class="form-control" id="name" name="name" ng-model="formData.name">
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input type="number" class="form-control" id="price" name="price" ng-model="formData.price">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" name="description" rows="5" id="description" ng-model="formData.description"></textarea>
  </div>
  <button type="submit" class="btn btn-warning pull-right">Submit</button>

</form>

