<div id="products" class="row list-group" >
    <div class="item  col-xs-4 col-lg-4 grid-group-item list-group-item">
        <div class="thumbnail">
            <img class="group list-group-image" src="http://placehold.it/930x450/000/fff" alt="" />
            <div class="caption">
                <p class="lead">{{p.price | currency}}</p>
                <h3 class="group inner list-group-item-heading">
                    {{p.name}}</h3>
                <p class="group inner list-group-item-text">
                    {{p.description}}</p>
            </div>
        </div>
    </div>
</div>

<h4>Comments:</h4>
<ul class="comments">
    <li class="comment list-group-item" ng-repeat="c in cc">
        <p class="username">
            {{c.username}}:
        </p>
        <p class="details">
           {{c.comment}}
        </p>
    </li>
</ul>
<a class="btn btn-info" ng-click="showForm()">Comment Form</a>
<form role="form" id="comment-form" ng-show="formActive" ng-submit="addComment()">
  <div class="form-group">
    <label for="username">Name:</label>
    <input type="text" class="form-control" id="username" name="username" ng-model="formData.username">
  </div>
  <div class="form-group">
    <label for="comment">Comment:</label>
    <textarea class="form-control" name="comment" rows="5" id="comment" ng-model="formData.comment"></textarea>
  </div>
  <button type="submit" class="btn btn-warning pull-right">Submit</button>

</form>
